$font-SF-Pro-Display-Semibold: "SF Pro Display Semibold";
$font-SF-Pro-Text-Regular: "SF Pro Text Regular";
$font-SF-Pro-Text-Semibold: "SF Pro Text Semibold";

$color-white: #ffffff;
$color-pale-white: #fbfbfb;
$color-alpha-white: #ffffffcc;
$color-silver: #d0d1d2;
$color-dodger-blue: #0071e3;
$color-black: #000000;
$color-medium-grey: #75757a;
$color-almost-black: #1d1d1f;

$heading-gradient: linear-gradient(90deg, #022640 0%, #5786ab 100%);
$ai-gradient: linear-gradient(97deg, #0096ff, #bb64ff 42%, #f2416b 74%, #eb7500);

$radius-image: 10px;
