@use "resets";
@use "fonts";
@use "variables";

@use "components/header";
@use "components/welcome";
@use "components/design";
@use "components/performance";
@use "components/macphone";
@use "components/ports";

/* ===== Globals ===== */
:focus-visible {
  outline-color: variables.$color-dodger-blue;
}

html {
  font-family: variables.$font-SF-Pro-Text-Regular;
}

body {
  min-width: 20rem;
  background-color: variables.$color-white;
  color: variables.$color-medium-grey;
  font-size: 1.0625rem;
  line-height: 1.4705882353;
  letter-spacing: -0.022em;
}

footer {
  font-size: 0.75rem;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: max(1rem, env(safe-area-inset-bottom));
  background-color: rgb(245, 245, 247);
  color: #0000008f;
}

/* ===== Utilities ===== */
.sf-pro-display-semibold {
  font-family: variables.$font-SF-Pro-Display-Semibold;
}

.sf-pro-text-semibold {
  font-family: variables.$font-SF-Pro-Text-Semibold;
}

.ai-gradient-text,
.heading-gradient-text {
  color: variables.$color-white;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.ai-gradient-text {
  background-image: variables.$ai-gradient;
}

.heading-gradient-text {
  background-image: variables.$heading-gradient;
}

.button {
  background-color: variables.$color-dodger-blue;
  color: variables.$color-white;
  text-align: center;
  border: 1px solid variables.$color-dodger-blue;
  border-radius: 100px;
  white-space: nowrap;
}

em {
  font-style: normal;
  color: variables.$color-almost-black;
}

.almost-black {
  color: variables.$color-almost-black;
}

.content {
  padding: 0 1rem;
  max-width: 25.4375rem;
  margin: 0 auto;
}

button:disabled {
  cursor: default;
}

.image-bg {
  background-color: variables.$color-pale-white;
  border-radius: variables.$radius-image;
}

.page-h2 {
  text-transform: uppercase;
  letter-spacing: -0.016em;
  font-size: 0.875rem;
  line-height: 1.28577;
}

.page-sub-heading {
  letter-spacing: 0;
  margin-top: 0.375rem;
  margin-left: -0.0625rem;
  font-size: 2.5rem;
  line-height: 1.1;
}

.page-info {
  letter-spacing: 0.011em;
  font-size: 1.3125rem;
  line-height: 1.19048;
}

.overflow-image {
  box-sizing: content-box;
  width: 35.75rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.section-info {
  font-size: 1.1875rem;
  line-height: 1.21053;
  letter-spacing: 0.012em;
}

@media only screen and (min-width: 45.875rem) {
  .content {
    padding: 0 1.3125rem;
    max-width: 45.875rem;
  }

  .page-sub-heading {
    margin-top: 0.5rem;
    margin-left: -0.125rem;
    font-size: 3.5rem;
    line-height: 1.07143;
  }

  .overflow-image {
    width: 52.469rem;
  }
}

@media only screen and (min-width: 52.125rem) {
  .content {
    padding: 0 1.375rem;
    max-width: 46rem;
  }
}

@media only screen and (min-width: 66.75rem) {
  .content {
    max-width: 64rem;
  }

  .page-sub-heading {
    margin-left: -0.1875rem;
    font-size: 4.5rem;
    line-height: 1.11;
  }

  .page-info {
    letter-spacing: 0.009em;
    font-size: 1.5rem;
    line-height: 1.16667;
  }

  .overflow-image {
    width: 89.25rem;
  }

  .section-info {
    font-size: 1.3125rem;
    line-height: 1.1904761905;
    letter-spacing: 0.011em;
  }
}
