@use "../variables";

.macphone {
  padding-bottom: 5.9375rem;

  .overlay-content {
    margin-top: 4rem;
    margin-bottom: 2rem;
    position: relative;
    overflow: hidden;

    picture {
      padding-right: 3rem;
    }

    input {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border-width: 0;

      &:focus-visible + label {
        outline: 2px solid variables.$color-dodger-blue;
        outline-offset: 2px;
      }

      &:checked + label {
        transform: rotateZ(45deg);
        background-color: variables.$color-black;
        fill: variables.$color-white;
      }

      &:checked ~ .overlay-info {
        opacity: 1;
        visibility: visible;
        transition-delay: 0s;
      }

      &:checked ~ .overlay-info div {
        transform: translateY(0);
        opacity: 1;
      }
    }

    label {
      position: absolute;
      z-index: 2;
      width: 2.25rem;
      display: block;
      border: 2px solid #000000;
      border-radius: 100px;
      transition: transform 300ms;
      bottom: 0;
      right: 0;
      cursor: pointer;
      background-color: variables.$color-white;
    }

    .overlay-info {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: variables.$color-white;
      opacity: 0;
      visibility: hidden;
      transition: opacity 300ms cubic-bezier(0.35, 0, 0, 1), visibility linear 300ms;
      transition-delay: 300ms;
      overflow: auto;

      &::before {
        content: "";
        display: block;
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        height: 1rem;
        z-index: 1;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
      }

      &::after {
        content: "";
        display: block;
        position: sticky;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 3.25rem;
        z-index: 1;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
      }

      div {
        transform: translateY(-1rem);
        opacity: 0;
        transition: transform 300ms cubic-bezier(0.35, 0, 0, 1), opacity 300ms cubic-bezier(0.35, 0, 0, 1);
        transition-delay: 150ms;
      }

      figure {
        &:nth-of-type(2) {
          margin: 2rem 0;
        }

        img {
          width: 3.375rem;
          height: 3rem;
          object-fit: contain;
          margin-bottom: 1rem;
        }
      }
    }
  }

  .section-info {
    letter-spacing: 0.012em;
    font-size: 1.1875rem;
    line-height: 1.21053;
  }
}

@media only screen and (min-width: 45.875rem) {
  .macphone {
    padding-bottom: 8.4375rem;

    .overlay-content {
      picture {
        padding-right: 2.25rem;
        padding-bottom: 2.25rem;
        padding-left: 2.25rem;
      }

      .overlay-info {
        &::after {
          display: none;
        }

        div {
          display: flex;
          gap: 2rem;
        }

        figure {
          flex: 1;

          &:nth-of-type(2) {
            margin: 0;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 66.75rem) {
  .macphone {
    padding-bottom: 8.75rem;

    figcaption {
      font-size: 1.1875rem;
    }

    .section-info {
      letter-spacing: 0.011em;
      font-size: 1.3125rem;
      line-height: 1.19048;
    }
  }
}
